*{
margin:0;
padding:0;
box-sizing:border-box;
}

.main-visual{
width:100%;
height:400px;
background-image:url(img/mv.jpg);
background-size:cover;
}

.main-visual-text{
padding-top:20px;
padding-left:20px;
}

main{
width:840px;
padding-top:50px;
padding-bottom:50px;
}

.blog-item-1{
padding-bottom:30px;
}

.blog-item-2{
padding-top:30px;
padding-bottom:30px;
}

.blog-item-3{
padding-top:30px;
padding-bottom:30px;
}

.blog-item-4{
padding-top:30px;
padding-bottom:30px;
}